TELEGRAM_TOKEN=TELEGRAM_TOKEN=8669573949:AAGLHICtiGrNXJ-4SeRCwZbt3hKGgNcz5kQ
DB_PATH=ezpanel.sqlite3
SPONSOR_CHANNEL=@FaraDownloaderBot
SPONSOR_CHANNEL_2=@V2ray_company
SPONSOR_URL=https://t.me/FaraDownloaderBot
SUPPORT_URL=https://t.me/sup_EzPanelMarker
